<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Моя страница{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=user.style) }}">
</head>
<body>
    <header class="container">
        <div class="header-inner">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="user">
                <span>{{ user.username }}</span>
                <img src="{{ url_for('static', filename=user.avatar) }}">
            </div>
        </div>
    </header>

    <div class="content container">
        {% block content %}{% endblock %}
    </div>

    <footer class="container">
        <p>Мой футер</p>
    </footer>
</body>
</html>